<!DOCTYPE htmnl>
<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <header>
            <h1>Mil Amores Food Truck Menu</h1>
        </header>

        <article>
            <h2><a href="">Taco...............................................................................................................$4.00</a></h2>
            <p>Taco with Chicken or Steak......................................................................................................................................$6.00</p>
            <h2><a href="">Supreme Taco..............................................................................................$5.00</a></h2>
            <p>Supreme Taco with Chicken or Steak...........................................................................................................................$7.00</p>
            <h2><a href="">Quesadilla.....................................................................................................$8.00</a></h2>
            <p>Quesadilla with Chicken or Steak.............................................................................................................................$10.00</p>
            <h2><a href="">Burrito........................................................................................................$12.00</a></h2>
            <p>Burrito with Chicken or Steak.................................................................................................................................$14.00</p>
            <h2><a href="">Nachos..........................................................................................................$12.00</a></h2>
            <p>Nachos with Chicken or Steak.................................................................................................................................$14.00</p>
            <h2><a href="">Arroz con Pollo............................................................................................$12.00</a></h2>
        </article>

    </body>
</html>